.faq {
	padding: 5rem 2.4rem;

	@media (min-width: 50em) {
		padding-block: 7.2rem 8.4rem;
		padding-inline: 1.6rem clamp(1.6rem, 7.5vw, 9.6rem);
	}

	&__heading {
		margin-bottom: 2.4rem;

		font-size: var(--fz-large);

		color: var(--clr-heading);

		@media (max-width: 50em) {
			text-align: center;
		}
	}
}
